<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wpdrc.mapper.OrderDetailMapper">


	<insert id="batchInsert" parameterType="java.util.List">
		insert into tb_order_detail(order_id,product_id,product_num)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.orderId}, #{item.productId},#{item.productNum})
		</foreach>
	</insert>
	
	<select id="selectByOrderId" parameterType="int" resultType="com.wpdrc.pojo.OrderDetail">
		select d.product_id, d.product_num, p.name productName, p.price productPrice from tb_order_detail d left join tb_product p on d.product_id = p.id  where d.order_id = #{orderId}
	</select>
	
	<update id="delByOrderId" parameterType="int">
		delete from tb_order_detail where order_id = #{orderId}
	</update>
</mapper>