<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wpdrc.mapper.OrderMapper">
	<insert id="add" parameterType="com.wpdrc.pojo.Order" useGeneratedKeys="true" keyProperty="id">
		insert into tb_order(create_time, desk_num, order_type, remarks, status) values(NOW(), #{deskNum}, #{orderType}, #{remarks}, 0)
	</insert>
	
	<select id="currList" resultType="com.wpdrc.pojo.Order">
		select id, create_time, desk_num, order_type, remarks, status from tb_order where status = 0 or status = 3 order by id desc
	</select>
	
	<select id="findById" parameterType="int" resultType="com.wpdrc.pojo.Order">
		select id, create_time, desk_num, order_type, remarks, status from tb_order where id = #{id}
	</select>
	
	<update id="del" parameterType="int">
		delete from tb_order where id = #{id}
	</update>
	
	<update id="update" parameterType="com.wpdrc.pojo.Order">
		update tb_order set desk_num = #{deskNum}, order_type = #{orderType}, remarks = #{remarks} 
		<if test="status != null" >  
        	, status = #{status}  
      	</if>
      	where id = #{id}
	</update>
</mapper>