<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.wpdrc.mapper.OrderDetailReportDayMapper">
	<select id="selectSalesNumTop" resultType="com.wpdrc.pojo.OrderDetailReportDay">
		select * from tb_order_detail_report_day where day = #{day} order by product_num desc limit #{topNum}
	</select>
	
	<select id="selectSalesSumTop" resultType="com.wpdrc.pojo.OrderDetailReportDay">
		select * from tb_order_detail_report_day where day = #{day} order by sales desc limit #{topNum}
	</select>
</mapper>