<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.wpdrc.mapper.ProductReportDayMapper">
	<select id="selectSalesNumTop" resultType="com.wpdrc.pojo.ProductReportDay">
		select * from tb_product_report_day where day = '2018-03-18' order by product_num desc limit 5
	</select>
	
	<select id="selectSalesSumTop" resultType="com.wpdrc.pojo.ProductReportDay">
		select * from tb_product_report_day where day ='2018-03-18' order by sales desc limit 5
	</select>
</mapper>